@import '../../variables';
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');


.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media(max-width: 850px){
        flex-direction: column;
    }
}

.click-me {
    &__wrapper {
        display: grid;
        grid-template-columns: 200px auto;
        justify-content: center;
        align-content: flex-end;
        width: 100%;
    }
    &--text {
        font-size: 3em;
        font-weight: bold;
        background: white;
        font-family: 'Patrick Hand';
    }
    &--arrow {
            content: url(./share.svg);
            width: 130px;
            padding-top: 4em;
    }
}

.categories {
    padding: 20px 0px;

    button {
        border-color: transparent;
        border-width: 0px;
        border-style: none;
        padding: 10px 20px;
    }

    .category {
        cursor: pointer;
        color: $blackColor;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        rotate: 90deg;
        font-size: 2em;
        text-align: right;
        transition: all 0.3s;
        background: linear-gradient(to right, $accent 50%, white 50%);
        background-size: 200% 100%;
        background-position: right bottom;

        @media (max-width: 1000px) {
            text-align: center;
        }

        &:hover {
            background-position: left bottom;
        }
    }
}

h2 {
    font-size: 5vw;
    background: $accent;
    display: inline;
    text-align: center;
    color: $blackColor;

    @media (max-width: 900px) {
        font-size: 42px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 10px 10px;
    grid-auto-flow: dense;
    &__item {
        max-width: 100%;
        min-width: 400px;
        grid-column-end: span 1;
        grid-row-end: span 2;
        overflow-y: hidden;
        transition: ease 0.3s;
        background-image: white;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &:hover {
            background-image: linear-gradient($accent, white);
        }

        @media(max-width: 850px){
            min-width: 300px;
            grid-column: 1 / -1;
        };

        // &--tall {
        //     grid-row-end: span 6;
        //     overflow-y: hidden;
        // }
        
        // &--medium {
        //     grid-row-end: span 4;
        //     overflow-y: hidden;
        // }
        
        // &--wide {
        //     grid-column-end: span 2;
        //     max-height: 700px;
        // };
    
        img {
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            transition: ease 0.3s;
            max-width: 100%;
    
            &:hover {
                opacity: 0.3;
                cursor: pointer;
            }

        }
    }
}