@import 'variables';

html {
	height: 100%;
	box-sizing: border-box;

	body {
		min-height: 100%;
		height: 100%;
		width: 100%;
		position: relative;
		font-size: $font-size;
		color: $text-color;
		-webkit-font-smoothing: antialiased;
		overflow-x: hidden;
	}
}

* {
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

p {
	font-size: $font-size;
}

h1 {
	color: white;
	font-size: 92px;
	text-shadow: 5px 5px rgba(255, 255, 255, 0.5);
	text-align: center;
	z-index: 2;
	margin: 0;
	@media (max-width: 991px) {
		font-size: 42px;
	}
}

h2 {
	color: $primary;
	font-size: 64px;
	text-shadow: 2px 2px $primary--dark;
	text-align: center;
	@media (max-width: 991px) {
		font-size: 36px;
	}
}

h3 {
	color: white;
	font-size: 54px;
	text-shadow: 3px 3px rgba(255, 255, 255, 0.5);
	text-align: center;
	z-index: 2;
	margin: 0;
	@media (max-width: 991px) {
		font-size: 24px;
	}
}

header {
	// background: linear-gradient($accent--dark, $accent--medium, $accent);
	width: 100%;
	min-height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 700px;
		background-image: url(tree.png);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	button {
		z-index: 3;
		align-self: flex-start;
		justify-self: flex-start;
		margin: 20px;
		border: none;
	}
}

.mode__toggle {
	height: 50px;
	width: 50px;
}

.header {
	&__wrapper {
		z-index: 2;
		max-width: 1072px;
		margin-bottom: 300px;
		padding: 0 100px;
	}
}

a {
	color: $accent;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
	transition: all 0.3s;
	// background: linear-gradient(to right, $primary 50%, white 50%);
	// background-size: 200% 100%;
	// background-position: right bottom;

	@media (max-width: 1000px) {
		text-align: center;
	}

	&:hover {
		// background-position: left bottom;
		color: $accent--medium;
	}
}

.skills {
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	display: block;
	// 	height: 200px;
	// 	width: 100%;
	// 	margin-top: -199px;
	// 	background: url(wave-divider.png);
	// 	background-size: cover;
	// 	background-repeat: no-repeat;
	// 	background-position: center top;
	// }
	&__container {
		padding: 50px 100px;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, auto));
		grid-auto-flow: dense;
		grid-gap: 20px 50px;
		justify-content: center;
	}
	&__item {
		font-weight: bold;
		color: $accent;
		font-size: 2em;
		text-align: center;
	}
}

.portfolio {
	&__container {
		padding: 100px 50px;
	}
	&__categories {
		display: flex;
		justify-content: center;
		padding: 50px 100px;
		flex-wrap: wrap;
		button {
			background-color: transparent;
			border: none;
			color: $accent;
			font-size: 32px;
			font-weight: bold;
			cursor: pointer;
			flex-basis: 300px;
			margin-bottom: 20px;
			&:active,
			&:focus {
				color: $primary;
				font-weight: bolder;
				outline: none;
			}
		}
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 400px);
		grid-gap: 20px;
		grid-auto-flow: dense;
		justify-content: center;
		align-items: center;
		@media (max-width: 991px) {
			grid-template-columns: 400px;
		}
	}
	&__item {
		width: 400px;
		height: 400px;
		perspective: 800px;
		border-radius: 20px;
	}
}

.card {
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	&:hover {
		transform: rotateY(180deg);
	}
	&__face {
		position: absolute;
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			height: 100%;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		}
		&--front {
			border-radius: 20px;
		}
		&--back {
			transform: rotateY(180deg);
			background: white;
			border-radius: 20px;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
		}
	}
	&__item {
		&__stack {
			font-weight: bold;
			color: $primary;
			font-size: 1.5em;
		}
		&__descr {
			color: $accent--dark;
			font-size: 1.2em;
		}
	}
}

.contact {
	&__container {
		padding: 0 100px 100px 100px;
	}
	&__grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		a {
			flex-basis: 300px;
			text-align: center;
		}
	}
}
