@import '../../variables';

.portfolio-grid-section {
    padding: 0px 10px;
    display: block;
    margin-top: -100px;
    min-height: 1000px;
    @media(max-width: 1200px){
        margin-top: 0;
    }
}